{
  "original_uri": "https://github.com/lsstdesc/requirements/issues/6",
  "self": "https://memgator.cs.odu.edu/timemap/json/https://github.com/lsstdesc/requirements/issues/6",
  "mementos": {
    "list": [
      {
        "datetime": "2022-06-22T04:32:47Z",
        "uri": "https://web.archive.org/web/20220622043247/https://github.com/LSSTDESC/Requirements/issues/6"
      },
      {
        "datetime": "2022-08-14T10:35:08Z",
        "uri": "https://web.archive.org/web/20220814103508/http://github.com/LSSTDESC/Requirements/issues/6"
      }
    ],
    "first": {
      "datetime": "2022-06-22T04:32:47Z",
      "uri": "https://web.archive.org/web/20220622043247/https://github.com/LSSTDESC/Requirements/issues/6"
    },
    "last": {
      "datetime": "2022-08-14T10:35:08Z",
      "uri": "https://web.archive.org/web/20220814103508/http://github.com/LSSTDESC/Requirements/issues/6"
    }
  },
  "timemap_uri": {
    "link_format": "https://memgator.cs.odu.edu/timemap/link/https://github.com/lsstdesc/requirements/issues/6",
    "json_format": "https://memgator.cs.odu.edu/timemap/json/https://github.com/lsstdesc/requirements/issues/6",
    "cdxj_format": "https://memgator.cs.odu.edu/timemap/cdxj/https://github.com/lsstdesc/requirements/issues/6"
  },
  "timegate_uri": "https://memgator.cs.odu.edu/timegate/https://github.com/lsstdesc/requirements/issues/6"
}
