{
  "original_uri": "https://github.com/sarugaku/requirementslib/pull/282",
  "self": "https://memgator.cs.odu.edu/timemap/json/https://github.com/sarugaku/requirementslib/pull/282",
  "mementos": {
    "list": [
      {
        "datetime": "2021-01-19T18:19:20Z",
        "uri": "https://web.archive.org/web/20210119181920/https://github.com/sarugaku/requirementslib/pull/282"
      },
      {
        "datetime": "2021-10-19T08:58:12Z",
        "uri": "https://web.archive.org/web/20211019085812/https://github.com/sarugaku/requirementslib/pull/282"
      },
      {
        "datetime": "2021-11-23T17:49:15Z",
        "uri": "https://web.archive.org/web/20211123174915/https://github.com/sarugaku/requirementslib/pull/282"
      },
      {
        "datetime": "2022-12-27T10:13:07Z",
        "uri": "https://web.archive.org/web/20221227101307/https://github.com/sarugaku/requirementslib/pull/282"
      }
    ],
    "first": {
      "datetime": "2021-01-19T18:19:20Z",
      "uri": "https://web.archive.org/web/20210119181920/https://github.com/sarugaku/requirementslib/pull/282"
    },
    "last": {
      "datetime": "2022-12-27T10:13:07Z",
      "uri": "https://web.archive.org/web/20221227101307/https://github.com/sarugaku/requirementslib/pull/282"
    }
  },
  "timemap_uri": {
    "link_format": "https://memgator.cs.odu.edu/timemap/link/https://github.com/sarugaku/requirementslib/pull/282",
    "json_format": "https://memgator.cs.odu.edu/timemap/json/https://github.com/sarugaku/requirementslib/pull/282",
    "cdxj_format": "https://memgator.cs.odu.edu/timemap/cdxj/https://github.com/sarugaku/requirementslib/pull/282"
  },
  "timegate_uri": "https://memgator.cs.odu.edu/timegate/https://github.com/sarugaku/requirementslib/pull/282"
}
