{
  "original_uri": "https://github.com/pharmgkb/pharmcat/wiki/vcf-requirements",
  "self": "https://memgator.cs.odu.edu/timemap/json/https://github.com/pharmgkb/pharmcat/wiki/vcf-requirements",
  "mementos": {
    "list": [
      {
        "datetime": "2020-11-30T17:21:53Z",
        "uri": "https://web.archive.org/web/20201130172153/https://github.com/PharmGKB/PharmCAT/wiki/VCF-Requirements"
      },
      {
        "datetime": "2020-11-30T17:23:59Z",
        "uri": "https://web.archive.org/web/20201130172359/https://github.com/PharmGKB/pharmcat/wiki/VCF-Requirements"
      },
      {
        "datetime": "2021-10-16T19:25:31Z",
        "uri": "https://web.archive.org/web/20211016192531/https://github.com/PharmGKB/PharmCAT/wiki/VCF-Requirements"
      }
    ],
    "first": {
      "datetime": "2020-11-30T17:21:53Z",
      "uri": "https://web.archive.org/web/20201130172153/https://github.com/PharmGKB/PharmCAT/wiki/VCF-Requirements"
    },
    "last": {
      "datetime": "2021-10-16T19:25:31Z",
      "uri": "https://web.archive.org/web/20211016192531/https://github.com/PharmGKB/PharmCAT/wiki/VCF-Requirements"
    }
  },
  "timemap_uri": {
    "link_format": "https://memgator.cs.odu.edu/timemap/link/https://github.com/pharmgkb/pharmcat/wiki/vcf-requirements",
    "json_format": "https://memgator.cs.odu.edu/timemap/json/https://github.com/pharmgkb/pharmcat/wiki/vcf-requirements",
    "cdxj_format": "https://memgator.cs.odu.edu/timemap/cdxj/https://github.com/pharmgkb/pharmcat/wiki/vcf-requirements"
  },
  "timegate_uri": "https://memgator.cs.odu.edu/timegate/https://github.com/pharmgkb/pharmcat/wiki/vcf-requirements"
}
