HTTP/2 404 
server: GitHub.com
date: Tue, 17 Jan 2023 01:14:07 GMT
content-type: text/plain; charset=utf-8
vary: X-PJAX, X-PJAX-Container, Turbo-Visit, Turbo-Frame, Accept-Encoding, Accept, X-Requested-With
cache-control: no-cache
strict-transport-security: max-age=31536000; includeSubdomains; preload
x-frame-options: deny
x-content-type-options: nosniff
x-xss-protection: 0
referrer-policy: origin-when-cross-origin, strict-origin-when-cross-origin
content-security-policy: default-src 'none'; base-uri 'self'; connect-src 'self'; form-action 'self'; img-src 'self' data:; script-src 'self'; style-src 'unsafe-inline'
set-cookie: _gh_sess=zUSm4jt3E3Qw9GWG8sWV0U0Hjv493yGPuKsBgrLWHTYm6ntSL38hgUofOaV2F3s%2Fdz0fayOZ5sLQwQcMog%2Fs%2FwrNIrPW6o1Ua54K4PeDfYbHgq3Hhvextb1ea55LZsUAk6pErhAi0ktfg1OEw2jfK6MHHHJpU84uT%2BQfCxqiHO6%2BjZf%2FY%2FFdEu8I2EhkB%2BVpA8V%2FKls2DvUsT4blheSipaDeu3J1GsXy9X4KiUb8v%2FtiKy%2FmVfbcN%2BmcFn%2FQgcf7Di7b9NClUE%2Ba6F%2BYV%2FUXdg%3D%3D--Yuf%2FZf%2B%2BAn6RK7Bp--JFSeBtHg436CFxrzG%2BFGwA%3D%3D; Path=/; HttpOnly; Secure; SameSite=Lax
set-cookie: _octo=GH1.1.1395844726.1673918047; Path=/; Domain=github.com; Expires=Wed, 17 Jan 2024 01:14:07 GMT; Secure; SameSite=Lax
set-cookie: logged_in=no; Path=/; Domain=github.com; Expires=Wed, 17 Jan 2024 01:14:07 GMT; HttpOnly; Secure; SameSite=Lax
content-length: 9
x-github-request-id: A2FE:5598:28282E1:3A71450:63C5F65F

