{
  "original_uri": "https://github.com/douglase/doorstop_requirements_template",
  "self": "https://memgator.cs.odu.edu/timemap/json/https://github.com/douglase/doorstop_requirements_template",
  "mementos": {
    "list": [
      {
        "datetime": "2018-06-12T21:56:20Z",
        "uri": "https://web.archive.org/web/20180612215620/https://github.com/douglase/doorstop_requirements_template"
      },
      {
        "datetime": "2020-11-19T10:36:54Z",
        "uri": "https://web.archive.org/web/20201119103654/https://github.com/douglase/doorstop_requirements_template"
      },
      {
        "datetime": "2022-07-04T20:07:49Z",
        "uri": "https://web.archive.org/web/20220704200749/https://github.com/douglase/doorstop_requirements_template"
      },
      {
        "datetime": "2023-01-06T14:03:26Z",
        "uri": "https://web.archive.org/web/20230106140326/http://github.com/douglase/doorstop_requirements_template"
      }
    ],
    "first": {
      "datetime": "2018-06-12T21:56:20Z",
      "uri": "https://web.archive.org/web/20180612215620/https://github.com/douglase/doorstop_requirements_template"
    },
    "last": {
      "datetime": "2023-01-06T14:03:26Z",
      "uri": "https://web.archive.org/web/20230106140326/http://github.com/douglase/doorstop_requirements_template"
    }
  },
  "timemap_uri": {
    "link_format": "https://memgator.cs.odu.edu/timemap/link/https://github.com/douglase/doorstop_requirements_template",
    "json_format": "https://memgator.cs.odu.edu/timemap/json/https://github.com/douglase/doorstop_requirements_template",
    "cdxj_format": "https://memgator.cs.odu.edu/timemap/cdxj/https://github.com/douglase/doorstop_requirements_template"
  },
  "timegate_uri": "https://memgator.cs.odu.edu/timegate/https://github.com/douglase/doorstop_requirements_template"
}
