{
  "original_uri": "https://github.com/lsstdesc/requirements/releases/tag/v0.99",
  "self": "https://memgator.cs.odu.edu/timemap/json/https://github.com/lsstdesc/requirements/releases/tag/v0.99",
  "mementos": {
    "list": [
      {
        "datetime": "2022-06-22T03:17:18Z",
        "uri": "https://web.archive.org/web/20220622031718/https://github.com/LSSTDESC/Requirements/releases/tag/v0.99"
      },
      {
        "datetime": "2022-08-14T10:35:38Z",
        "uri": "https://web.archive.org/web/20220814103538/http://github.com/LSSTDESC/Requirements/releases/tag/v0.99"
      }
    ],
    "first": {
      "datetime": "2022-06-22T03:17:18Z",
      "uri": "https://web.archive.org/web/20220622031718/https://github.com/LSSTDESC/Requirements/releases/tag/v0.99"
    },
    "last": {
      "datetime": "2022-08-14T10:35:38Z",
      "uri": "https://web.archive.org/web/20220814103538/http://github.com/LSSTDESC/Requirements/releases/tag/v0.99"
    }
  },
  "timemap_uri": {
    "link_format": "https://memgator.cs.odu.edu/timemap/link/https://github.com/lsstdesc/requirements/releases/tag/v0.99",
    "json_format": "https://memgator.cs.odu.edu/timemap/json/https://github.com/lsstdesc/requirements/releases/tag/v0.99",
    "cdxj_format": "https://memgator.cs.odu.edu/timemap/cdxj/https://github.com/lsstdesc/requirements/releases/tag/v0.99"
  },
  "timegate_uri": "https://memgator.cs.odu.edu/timegate/https://github.com/lsstdesc/requirements/releases/tag/v0.99"
}
