[{"origin":"https://github.com/davex0r/GeometricRequirementsDiscrimination","visit":1,"date":"2020-12-19T20:46:06.423848+00:00","status":"full","snapshot":"a0af2148c51a5cc53003142d7242fe7411764c16","type":"git","metadata":{},"origin_visit_url":"https://archive.softwareheritage.org/api/1/origin/https://github.com/davex0r/GeometricRequirementsDiscrimination/visit/1/","snapshot_url":"https://archive.softwareheritage.org/api/1/snapshot/a0af2148c51a5cc53003142d7242fe7411764c16/"}]
